extends ../layout

block content
  section.bg-light
    .container
      a.btn.btn-primary(href="/users/new") Create user

    .container.mt-5
        h1.text-center.mb-4 User List
        table.table.table-bordered.table-primary
          thead.thead-dark
            tr
              th Name
              th Avatar
              th Email
              th Role
          tbody
            each user in users
              tr
                td= user.name
                td
                  img(src=user.avatarUrl alt='Avatar' width='50' height='50')
                td= user.email
                td= user.role